<footer id="footer" class="footer">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center" style="color: rgb(254 255 255); text-decoration: underline;">
       <img src="assets/img/logo.png" class="img-fluid" alt=""><span>SankatMochan Legal<br> Solutions LLP</span>
        </a>
        <p style="text-align: justify;">We are a multi-disciplinary firm of solicitors and advocates based in New Delhi, 
          with a team of lawyers experienced in matrimonial laws, criminal laws, property laws, 
          trust laws, business laws, intellectual property rights and company audit protocols.</p>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#" routerLink="/home">Home</a></li>
          <li><a href="#" routerLink="/about">About us</a></li>
          <li><a href="#" routerLink="/blog">Blog</a></li>
          
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#" routerLink="/service">Services</a></li>
          <li><a href="#" routerLink="/team">Team</a></li>
          <li><a href="#" routerLink="/portfolio">Portfolio</a></li>
          <li><a href="#" routerLink="/contact">Contact</a></li>
          
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>Chamber No.671, Patiala House Court,</p>
        <p>Near India Gate,</p>
        <p> New Delhi-110001</p>
        <p class="mt-4"><strong>Phone:</strong><span> 011-44790251, +91-9899771058,</span></p>
        
        <span>+91-9891157466</span>
        <p><strong>Email:</strong> <span> sankatmochan.llp@gmail.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">SankatMochan Legal Solutions LLP</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      Designed by <a href="https://taskhive.co.in/" style="color: aliceblue;">Taskhive.co.in</a>
    </div>
  </div>
</footer>
