<main>
  <!-- Page Title -->
  <div class="page-title aos-init aos-animate" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Blog</h1>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Blog</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Page Title -->

  <!-- Blog Posts Section -->
  <section id="blog-posts" class="blog-posts section">
    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
      <h2></h2>
      <h3>Blogs</h3>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" *ngFor="let data of getData | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <article>
            <div class="post-img">
              <img src="{{ env }}/file/download/{{ data.image }}" alt="" class="img-fluid" />
            </div>
            <p class="post-category">{{ data.category }}</p>
            <h2 class="title">
              <a>{{ data.title }}</a>
            </h2>
            <h6>{{ data.createdAt}}</h6>
            <p style="text-align: justify; overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* Adjust this value to control the number of lines */
            line-clamp: 4;
            -webkit-box-orient: vertical;">{{ data.description }}</p>
            <a href="#" class="button">Read More</a>
          </article>
        </div>
        <!-- End post list item -->
      </div>
    
      <!-- pagination control -->
      <pagination-controls (pageChange)="p = $event" style="text-align: center;"></pagination-controls>
    </div>
  </section>
  <!-- /Blog Posts Section -->
</main>