<main class="main">

  <!-- Page Title -->
  <div class="page-title aos-init aos-animate" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Services</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

    <!--  Service section Start  -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>OUR EXPERTISE</h2>
        <h3>Legal Practice Areas</h3>
        <p style="text-align: justify;">At SankatMochan Legal Solutions LLP, we pride ourselves on providing comprehensive legal 
          services tailored to meet the unique needs of our clients. Our team of experienced attorneys is dedicated 
          to delivering exceptional legal representation across a wide range of practice areas. Below is an overview 
          of the key services we offer: Corporate, Finance and Disputes matters before Supreme Court of India, 
          High Courts, Delhi District Courts and various Tribunals, Delhi International Arbitration Centre and different legal forms.</p>
      </div><!-- End Section Title -->
  
      <div class="container mt-5">
  
        <div class="row gy-4">
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-bank"></i>
              </div>
              <h3>Banking and Finance</h3>
              <p style="text-align: justify;">Banking and finance is one of SankatMochan's core and highly recognized areas of expertise. 
                We provide legal support to financial institutions and corporate clients in banking and finance matters, including: Loan agreements,
                Project financing, Debt restructuring, Financial regulatory compliance, Investment funds and securities.</p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-journal-richtext"></i>
              </div>
              <h3>Corporate Commercial</h3>
              <p style="text-align: justify;">One of SankatMochan's key practice areas is corporate and commercial. We offer expert advice and 
                representation to businesses of all sizes, covering a wide range of corporate and commercial issues, including:
                Company formation and incorporation, Drafting and review of commercial contracts, Regulatory compliance.</p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <!-- <i class="bi bi-easel"></i> -->
                <img src="assets/img/dispute.png" class="" style="width: 75px; margin-top: 25px;" alt="">
              </div>
              <h3>Alternative Dispute Resolution</h3>
              <p style="text-align: justify;">SankatMochan works in every area of Alternative dispute resolution. 
                ADR processes are usually confidential, less formal, and less stressful than traditional court proceedings. We offer 
                ADR services as a cost-effective and efficient alternative to litigation, helping 
                clients resolve disputes through: Mediation, Arbitration, Negotiation.</p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-balloon-heart-fill"></i>
              </div>
              <h3>Insurance</h3>
              <p style="text-align: justify;">works virtually in every area of Insurance Fraud. Our compassionate and experienced 
                family law attorneys are here to support you through some of life’s most challenging times. 
                Our services include: Divorce and separation, Child custody and support, Alimony and spousal support, 
                Adoption, Domestic violence and protection orders.</p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-droplet-fill"></i>
              </div>
              <h3>Matrimonial Matters</h3>
              <p style="text-align: justify;">At SankatMochan LLP, we are committed to providing compassionate and effective legal 
                services for all aspects of matrimonial law. Our attorneys provide guidance and representation in all matters related 
                to the dissolution of marriage, including: Filing for divorce or separation, Drafting and negotiating separation agreements,
                Annulments.
              </p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-house-add-fill"></i>
              </div>
              <h3>Real Estate</h3>
              <p style="text-align: justify;">At SankatMochan Legal Solutions LLP, we are committed to providing compassionate and effective legal 
                services for all aspects of real estate law. Our real estate law team assists clients with a variety of 
                property-related legal matters, including: Property transactions, Leasing and tenancy agreements, Real 
                estate litigation, Title searches and due diligence.</p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
          
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-cash-coin"></i>
              </div>
              <h3>Capital Markets</h3>
              <p style="text-align: justify;">Amidst calls for greater transparency, growing regulatory 
                oversight and high levels of litigation, navigating the capital markets can appear to be 
                a daunting proposition. With sweeping changes across regulatory and legal aspects, the 
                raising and managing of capital requires a careful understanding of listing requirements. </p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-receipt"></i>
              </div>
              <h3>Tax</h3>
              <p style="text-align: justify;">SankatMochan Legal Solutions LLP tax practice is a unique 
                blend of lawyers and chartered accountants, which enables us to provide clients with solutions 
                that are both legally and financially sound. Being a practice that collaborates closely 
                with other practices areas within the Firm, our expertise is well developed across sectors.
              </p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-piggy-bank-fill"></i>
              </div>
              <h3>Private Equity</h3>
              <p style="text-align: justify;">The company has established a reputation as the one to manage 
                large stakes and complicated PE negotiations, as demonstrated by its involvement in several 
                multibillion-dollar deals. It is recognized as the "go-to" firm for Private Equity transaction 
                advising in India. PE fund deals and intricate listed company control purchases.</p>
              <a href="#" class="button">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
  
        </div>
  
      </div>
      
    </section>
    <!--  Service Section ENDS  -->




</main>