.container {
  padding-top: 55px;
  padding-bottom: 0px !important;

}

.logo span {
    font-size: 40px;
    font-weight: 700;
    color: #366478;
    font-family: "Nunito", sans-serif;
    display: block;
    text-align: center;
   
}
.btn {
    background-color: #2e5e72;
    color: #ffffff;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo img {
    margin: 0 auto;
  }