.select {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: 
color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: 
color-mix(in srgb, #222222, transparent 80%);
}
.select textarea::placeholder{
    color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
    /* --background-color: var(--accent-color); */
   background-image: url(../../../assets/img/background.jpg);
    --default-color: #fff;
    --heading-color: #fff;
    color: var(--default-color);
    background-color: var(--background-color);
    position: relative;
  }
  
  .page-title .heading {
      padding: 150px 0 10px 0;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .page-title .heading h1 {
    font-size: 38px;
    font-weight: 700;
  }
  
  .page-title nav {
    background-color: color-mix(in srgb, var(--default-color), transparent 92%);
    padding: 8px 0;
  }
  
  .page-title nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .page-title nav ol a {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  
  .page-title nav ol a:hover {
    color: var(--default-color);
  }
  
  .page-title nav ol li+li {
    padding-left: 10px;
  }
  
  .page-title nav ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  
  /*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 112px;
    overflow: clip;
  }
  
  @media (max-width: 1199px) {
  
    section,
    .section {
      scroll-margin-top: 100px;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  .section-title {
    text-align: left;
    /* padding-bottom: 25px; */
    position: relative;
  }
  
  .section-title h2 {
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 8px;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  
.button {
    background-color: #366478;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
  }
