<main class="main">
  <!-- Page Title -->
  <div class="page-title aos-init aos-animate" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>About US</h1>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">About Us</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <section id="about" class="about section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <!-- Section Title -->
          <div class="section-title mt-5 aos-init aos-animate" data-aos="fade-up">

            <h2>OUR EXPERTISE</h2>
            <h3>Story About SankatMochan<br> Legal Solutions LLP</h3>
          </div>
          <!-- End Section Title -->
          <p style="text-align: justify;">
            We are a multi-disciplinary firm of solicitors and advocates based in New Delhi, with a team of lawyers
            experienced in matrimonial laws, criminal laws, property laws, trust laws, business laws, intellectual
            property rights and company audit protocols. </p>

          <p style="text-align: justify;">We provide effective legal solutions and counsel to our clients, at the most
            affordable prices. The core practice area of our team is litigation in Trial Courts, Hon’ble High Courts and
            the Hon’ble Supreme Court of India as well as before various tribunals and other quasi judicial bodies. </p>

          <p style="text-align: justify;">We also have a team of advocates engaged in transactional legal services such
            as company and society registration, corporate compliance audits, competition law issues, the establishment
            and audit of trusts and wills, registration of marriages, patent and trademark registrations etc.</p>


          <p style="text-align: justify;">We also provide professional and customised drafting services for contracts,
            agreements, deeds, wills and other such contractual legal documents for individuals, partnerships, firms,
            companies and societies.</p>


          <p style="text-align: justify;"> Our in-house subject matter experts in the area of technology and IPR laws
            can draft agreements and contracts for lease and assignment of IPR, as well as technology products or
            services, such as software contracts, e-commerce agreements, copyright lease, copyright transfers and other
            such allied legal documents. </p>


          <p style="text-align: justify;">The Law Firm “SankatMochan Legal Solutions LLP” is a leading law firm of India
            and is situated at New Delhi, which is headed by Advocate Suresh Prasad and Mithilesh Kumar Jaiswal. They
            are founder and partner of the firm.</p>


          <p style="text-align: justify;">The firm is comprising of more than 20 Associate Lawyers having an extensive
            work experience
            in Criminal Law, Civil Law, Constitutional Matters, Administrative Law,
            Company Law, Competition Law, NI Act, Income Tax Law, Banking Laws, Insolvency and Bankruptcy
            Code, DRT Act, Cyber Law, Data Protection, Trade Marks, IPR, and Industrial and Labour Laws etc.</p>

          <p style="text-align: justify;">Our firm is having patronage of Mr. Jitendra Bharti, as a Senior Consultant, 
            who is one of the finest Criminal Lawyer and known for his legal acumen in the legal fraternity. Colleagues 
            at the Bar claims that he has the best criminal mind across the country and having 20 years plus experience 
            of practice. He regularly use to appear before District Courts, various Hon’ble High Courts as well as Hon’ble 
            Supreme Court of India. </p>

          <p style="text-align: justify;">This firm have Mr. Md. Naushad Alam, Advocate-on-Record, Supreme Court of India, 
            having an experience before the apex court for more than 15 years. He is known for his commitment towards work 
            and is a man of integrity. And also, is a member of International Arbitration Centre. </p> 
            
          <p style="text-align: justify;">This firm also has Mr. Kumar Murlidhar, B.Tech,L.LB.  who is an Advocate-onRecord 
            in Supreme Court of India, 
            who is our special legal consultant for  Technology laws, Cyber Law and other special laws related with the 
            whitecollar crime or can say modern crime, and also have vast experience in corporate laws, Land Acquisition 
            Matters and Environmental, Forest and mining  Laws (including coal and hydrocarbons) worked with all the top 
            players in the industries under various capacities e.g. TATA Steel, Vedanta, JSPL, ONGC, Coal India and engaged 
             Big consulting firms like KPMG, Grant Thornton. </p>  

          <p style="text-align: justify;">This firm is having Mr. M. Daniel Abdullah, who have specialised knowledge in Cases 
            related to Digital Forensics, Criminal Laws, Intellectual Property Laws, Competition Law, etc. and written several 
            articles and book on the subject. </p>   

          <button class="button" type="submit" routerLink="/contact">Get Expert Help Today</button>
        </div>
        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="250">
          <div class="content ps-0 ps-lg-5">

            <div class="position-relative">
              <img src="assets/img/law-img1.png" class="img-fluid rounded-4" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>