<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="form-container">
          <h2>Create a New Blog Post</h2>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" id="blog_form">

            <!-- Drag and Drop Image Upload -->
            <div class="mb-3">
              <label for="blogImage" class="form-label">Add Image</label>
              <div class="dropzone" id="dropzone" (click)="imageInput.click()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"(drop)="onDrop($event)">
                <p>Drag and drop an image here, or click to select an image</p>
                <input formControlName="image" type="file" id="blogImage" name="image" accept="image/*" #imageInput (change)="onFileSelected($event)">
                
              </div>
              <input type="file" (change)="onChange($event)" #fileUpload >
              <div class="preview-container">
                <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" class="preview-image"/>
              </div>
            </div>
  
            <div class="mb-3">
                <label for="blogCategory" class="form-label">Blog Category</label>
                <input type="text" class="form-control" id="blogCategory" name="blogCategory" formControlName="category" placeholder="Enter the blog category"/>
              </div>

            <div class="mb-3">
              <label for="blogTitle" class="form-label">Blog Title</label>
              <input type="text" class="form-control" id="blogTitle" name="blogTitle" formControlName="title" placeholder="Enter the blog title"/>
            </div>
  
            <div class="mb-3">
              <label for="blogDescription" class="form-label">Blog description</label>
              <textarea class="form-control" id="blogDescription" name="blogDescription" formControlName="description" rows="5" placeholder="Write your blog content here"></textarea>
            </div>
  
            <div class="mb-3">
              <label for="websiteLink" class="form-label">Website Link</label>
              <input type="url" class="form-control" id="websiteLink" name="websiteLink" formControlName="website" placeholder="https://example.com"/>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading" *ngIf="isLoading">Loading</div>
              <div class="error-message"></div>
              
              <button type="submit" class="btn btn-primary" >Submit</button>
            </div>

            
          </form>
        </div>
      </div>
    </div>
  </div>
  