<div class="card">
    <div class="card-body">
      <!-- title -->
      <h4 class="card-title">Contacts List</h4>
      <h5 class="card-subtitle">Overview of the Contacts</h5>
      <!-- title -->
      <div class="table-responsive">
        <!-- <button class="btn btn-danger" (click)="onDeleteAll()">Delete All Contacts</button> -->
        <table class="table align-middle">
          <thead>
            <tr>
              <th class="text-dark font-medium fs-4">Name</th>
              <th class="text-dark font-medium fs-4">Gmail</th>
              <th class="text-dark font-medium fs-4">Phone</th>
              <th class="text-dark font-medium fs-4">Subject</th>
              <th class="text-dark font-medium fs-4">Message</th>
              <th class="text-dark font-medium fs-4">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let data of getData | paginate: { itemsPerPage: 4, currentPage: p }'>
              <td>
                <h5 class="mb-0 font-medium">{{data.name}}</h5>
              </td>
              <td class="fs-4">{{data.email}}</td>
              <td>
                <h5 class="mb-0 fw-normal">{{data.number}}</h5>
              </td>
              <td>
                <h5 class="mb-0 fw-normal">{{data.subject}}</h5>
              </td>
              <td>
                <h5 class="mb-0 fw-normal">{{data.message}}</h5>
              </td>
              <td class="d-flex justify-content-center">
                <button class="btn btn-primary btn-sm mx-1" (click)="editContact(data)">
                  Edit
                </button>
              
                <button class="btn btn-danger btn-sm" (click)="onDelete(data._id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>