  <main>
  <!-- Page Title -->
  <div class="page-title aos-init aos-animate" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Team</h1>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Team</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <!--  TEam SEction START  -->
  <div class="container">
    <div class="row">

      <div class="col-lg-12">

     
        <!-- Blog Author Section -->
        <section id="blog-author" class="blog-author section">

          <div class="container">
        <div class="col-md-10 offset-1">
        
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4">
            <img src="assets/img/team/t1.jpg" class="flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Mithilesh Kumar Jaiswal  </h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                <li><i class="bi bi-check-circle"></i>&nbsp; <span>Founder & Partner</span></li>
                <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate & Legal Consultant</span></li>
                <li><i class="bi bi-check-circle"></i>&nbsp; <span>BBA, LLB, LLM, PG Diploma in International Trade & Business Law, PG Diploma in International Humanitarian Law, Human Rights and Refugee Law.</span></li>
                <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 7 Years</span></li>
                <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Criminal Law, Civil Law, NI Act, SLPs, Writ Criminal & Civil, Family Law, Labour laws, Money laundering cases etc.</span></li>
              </ul>
              <p></p>
              
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/t2.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Suresh Prasad</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Founder &amp; Partner </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, MA, LLB., LLM. </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 7 Years  </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Companies Act, Civil Disputes and Insolvency
                    and Bankruptcy Code, NI Act, Arbitrator &amp; Mediator, etc. </span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4">
            <img src="assets/img/team/t3.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Jitendra Bharti </h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Senior Legal Consultant</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, LLB, LLM.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 20 Years  </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Constitutional Law, Election Law, Criminal Law (White Collar Crime and traditional Crime), NI Act, Writ Criminal & Civil, Company Act, Money laundering etc . </span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/t4.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Md. Naushad Alam</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate on Record, Supreme Court of India</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Senior Legal Consultant</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>LL.M., PGDADR </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 18 Years  </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Service Matters, Writs, SLPs, Property Disputes, Arbitration & Mediation. </span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4">
            <img src="assets/img/team/male.png" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Kumar Murlidhar</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate-on-Record, Supreme Court of India</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>B.Tech. (Electronics), LLB, LLM (Corporate & Finance Laws).</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 8 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Worked with Company: TATA Steel, Vedanta, CCL, ONGC, etc and big consulting firms like KPMG, Grant Thornton.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Technology Laws, Fintech, Cyber Security, IPR (including Semiconductor laws, Artificial Intelligence Laws) 
                    and   Land Acquision, Lease Settlement, Title Verification of Land, Forest & Mining Laws, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/male.png" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>M. Daniel Abdullah</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>B.SC. (IT), LLB, LLM.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 8 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Digital Forensics, 
                    Criminal Laws, Intellectual Property Laws, Competition Law, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4">
            <img src="assets/img/team/t7.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Bhuvnesh Mittal</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>B.COM., LLB.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 5 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Negotiable Instrument Act, 
                    Rent Control Act, Delhi Land Reform Act, Motor Vehicle Act, Environment Protection Act, Revenue Cases, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/t8.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Sandeep Singh Kushwaha</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, LLB.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 5 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Registration of Property, 
                    Making Will, Agreements, Sale Deed, Lease Deed, Property disputes, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4">
            <img src="assets/img/team/t9.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Saloni Singh </h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, LLB.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 5 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Corporate Laws, Merger acquisition, 
                    Registration of Property, Making Will, Agreements, Sale Deed, Lease Deed, Property disputes, Contracts, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/t10.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Sarita Kataria</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
              <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, LLB.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 5 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp;<span>Specialization: Cases related to Family Laws, Registration of Property, 
                    Making Will, Agreements, Sale Deed, Lease Deed, Property disputes, Family Mediation etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>
          <div class="author-container my-5">
            <div class="row">
          <div class="col-4">
            <img src="assets/img/team/female.png" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Sonali Sharma</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
            <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, MA, LLB.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 5 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization:  Cases related to Emigration Laws, 
                    resolving civil dispute arose against Municipal Corporation Delhi/Delhi Development Authority, Succession Act.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>

          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/male.png" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Bhawesh Kumar Choudhary</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
            <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>BA, LLB, LLM</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 4 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Criminal Law, 
                    Civil Law, NI Act, Writ Criminal & Civil, Company Act, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>

          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 ">
            <img src="assets/img/team/t13.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Sanjay Kumar</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
            <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>B.SC., PG DIP., LLB.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 4 Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Media Law (Broadcasting Law & Regulations in India), 
                    Criminal Law, Civil Law, NI Act, Writ Criminal & Civil, Company Act, etc.</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>

          <div class="author-container my-5">
            <div class="row">
          <div class="col-4 order-last">
            <img src="assets/img/team/t14.jpg" class=" flex-shrink-0" alt="">
          </div> 
          <div class="col-8">
              <h4>Shoumik Dutta</h4>
              <!-- <div class="social-links">
                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div> -->
            <p class="mt-3 service-details"></p>
              <ul class="service-list">
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Advocate &amp; Legal Consultant </span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>B.Sc. (CU), LL.B.(DU-LawFaculty)</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Bar Experience: 4+ Years.</span></li>
                  <li><i class="bi bi-check-circle"></i>&nbsp; <span>Specialization: Cases related to Criminal matters. 
                    Worked in Tier-1 Domestic and International BPOs.
                    Ex-Bank Officer - Bank of Baroda, Gujarat Operations</span></li>
                </ul>
               
              <p></p>
            </div>
          </div>
          </div>

        </div>
          </div>
        </section><!-- /Blog Author Section -->
      </div>
    </div>
  </div>
</main>