<div class="row">
  <!-- ==================================-->
  <!-- ======= Basic Nav ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">BLogs</h4>
      </div>
      <div class="card-body border-top">
        <ul ngbNav #nav="ngbNav"  class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink>Blogs List</button>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Blogs Listing</h4>
                      <h5 class="card-subtitle text-muted">
                        Overview of the blogs
                      </h5>
                      <div class="table-responsive">
                        <table class="table align-middle text-nowrap">
                          <thead>
                            <tr>
                              <th class="text-dark font-medium fs-4">Image</th>
                              <th class="text-dark font-medium fs-4">Category</th>
                              <th class="text-dark font-medium fs-4">Title</th>
                              <th class="text-dark font-medium fs-4">Description</th>
                              <th class="text-dark font-medium fs-4">Website Link</th>
                              <th class="text-dark font-medium fs-4">Created At</th>
                              <th class="text-dark font-medium fs-4">Published At</th>
                              <th class="text-dark font-medium fs-4">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor='let data of getData'>
                              <td>
                                <div class="d-flex align-items-center">
                                  <img [src]="data.image" alt="user" width="85" class="rounded-3"/>
                                </div>
                              </td>

                              <td>
                                <span class="text-muted">{{data.category}}</span>
                              </td>

                              <td class="fs-4">{{ data.title }}</td>

                              <td class="fs-4">{{ data.description }}</td>

                              <td class="fs-4">{{ data.website }}</td>

                              <td>
                                <h5 class="mb-0 fw-normal">{{ data.createdAt }}</h5>
                              </td>

                              <td>
                                <h5 class="mb-0 fw-normal">{{ data.updatedAt }}</h5>
                              </td>

                              <td class="d-flex justify-content-center">
                                <button class="btn btn-primary btn-sm me-2" (click)="editBlog(data)">
                                  Edit
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="onDelete(data._id)">
                                  Delete
                                </button>
                              </td>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <!--  =================================================================================
            ===============================================================================
            card==================================-->

          <li [ngbNavItem]="2">
            <button ngbNavLink>Blogs Cards</button>
            <ng-template ngbNavContent>
              <h4 class="card-title">Blogs card</h4>
              <h5 class="card-subtitle text-muted">
                Overview of the blogs
              </h5>
              <!-- Row -->
              <div class="row">
                <!-- column blogs 1-->
                
                  <div class="col-lg-3 col-md-6" *ngFor="let data of getData ">
                    <div class="card">
                      <div class="card-img-top img-responsive">
                        <img [src]="data.image" alt="" class="img-fluid" />
                      </div>
                      <div class="card-body">
                        <p class="post-category">{{ data.category }}</p>
                        <h4 class="title" style="text-align: center;">
                          <a >{{ data.title }}</a>
                        </h4>
                        <h6>{{ data.createdAt }}</h6>
                        <p style="text-align: justify; overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 6; /* Adjust this value to control the number of lines */
                        line-clamp: 6;
                        -webkit-box-orient: vertical;" >{{ data.description }}</p>
                        <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <div class="bg-light p-3 rounded"></div>
      </div>
    </div>
  </div>
</div>
